* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    background: url(./imgvid/b6.png);
    overflow-x: hidden;
    scroll-behavior: smooth scroll;

}
.circle {
    position: absolute;
    width: 128px;
    height: 124px;
    left: calc(50% - 108px / 2);
    top: 22px;
    background: url(./imgvid/Mayank.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    border: 1px solid white;
    box-shadow: inset 0px -20px 32px rgba(0, 0, 0, 0.5); /* Add this line */
}

.text1 {
    position: absolute;
    width: 280px;
    height: 80px;
    left: 20px;
    top: 164px;

    font-family: "Istok Web";
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    font-size: 13px;

    color: #ffffff;
}

.text1 b {
    font-weight: 700;
    font-size: 15px;
}

.icons {
    position: relative;
    display: flex;
    margin: 32px;
    height: 22px;
    align-items: center;
    justify-content: space-around;
    top: 301px;
}
.icons img {
    height: 22px;
    filter:drop-shadow(2px 4px 11px black);
}
.icons :nth-child(4) {
    height: 20px;
}

.icons :nth-child(3) {
    height: 20px;
}

.icons a:nth-child(2) img {
    position: relative;
    top: 3px;
    height: 24px;
}

.icons a:nth-child(1) img {
    position: relative;
    top: 2px;
}

.text2 {
    position: absolute;
    width: 204px;
    height: 28px;
    left: 58px;
    top: 392px;

    font-family: "Istok Web";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #ffffff;
}

.recent {
    position: absolute;
    width: 85px;
    height: 14px;
    left: 116px;
    top: 508px;
    font-family: "Istok Web";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}

hr {
    position: relative;
    top: 65vh;
    width: 80%;
    left: 38px;
    opacity: 0.7;
}

.recent .diary {
    position: absolute;
    width: 231px;
    height: 132px;
    top: 42px;
    left: -68px;
    background: url("./imgvid/diary.png");
    background-size: contain;
}

.smalltext {
    position: absolute;
    width: 79px;
    height: 19px;
    left: 119px;
    top: 734px;

    font-family: "Istok Web";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #ffffff;
}

.newhr {
    position: relative;
    width: 97%;
    left: 1px;
    opacity: 0.9;
    top: 232px;
}

.smallcontainers {
    position: relative;
    top: 103vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 62px;
    padding-left: 32px;
}
.smallcontainers .box {
    height: 92px;
    width: 17vh;
    font-size: 9px;
    color: white;
}
.smallcontainers .box img {
    width: 120px;
    animation: rendered 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.spotify {
    position: absolute;
    width: 232px;
    height: 41px;
    left: 39px;
    top: 1118px;
    color: white;
    background: #f00;
    border-radius: 30px;
    border: none;
    animation: rendered 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.support {
    position: absolute;
    width: 232px;
    height: 41px;
    top: 174vh;
    left: 43px;
    color: white;
    background: #ff0000;
    border-radius: 30px;
    border: none;
    animation: rendered 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    transition: all 0.3s ease;
}

.support i {
    position: relative;
    left: 53px;
    transition: transform 0.3s ease;
}

.support.active i {
    position: relative;
    transform: rotate(180deg);
    margin-left: -11px;
}

.support.active {
    background-color: white;
    color: black;
    border-radius: 10px 10px 0px 0px;
    filter: drop-shadow(3px 9px 33px red);
}

@keyframes rendered {
    0% {
        transform: translateX(900px);
        opacity: 0;
        scale: 0.1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}

.dropdown-content {
    visibility: hidden;
    background-color: white;
    font-family: 'Poppins'sans-serif ;
    height: 210px;
    text-align: center;
    line-height: 1.5;
    left: 43px;
    top: 123vh;
    width: 232px;
    position: relative;
    transition: all 0.1s ease;
    opacity: 0;
    transform: scale(0.3);
    font-size: 11px;
    display: flex;
    align-items: center;
}

.dropdown-content p {
    margin: -11px 8px 0px 11px;
}

.dropdown-content.show {
    visibility: visible;
    top: 131vh;
    opacity: 1;
    transform: scale(1);
    border-radius: 0px 0px 11px 11px;
}

.content-wrapper { 
    margin-bottom: 900px; /* Adjust this value to create more space below your content */
}

video {
    width: 100%;
    height: auto;
    min-height: 92vh; /* Ensures video covers the entire screen height */
    object-fit: cover; /* Ensures video covers the area without distortion */
}